header, footer {
    border:10px solid rgb(70, 34, 70);
    height:50px;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    line-height: 10px;
    font-weight: bold;
}

body {
    background-color:
}

img {
    border-radius: 25px;
    box-shadow: 20 20 20 gray;
    margin-left: 25px;
    rotate:
}

ul {
    margin-left: 10px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }