* {
  padding: 0;
  background-color: var(--gin);
  }

:root {
  --outerspace: #33393f;
  --bright-turqouise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

body {
  line-height: 1.5;
  font-size:16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.work-container {

}

.contact-container {
  
}


header {
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    line-height: 10px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
}

footer {

}


img {
    border-radius: 25px;
    box-shadow: 20 20 20 gray;
    margin-left: 25px;
    rotate:
}




#navbar {
  margin: auto;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  flex-direction: row;
}

/* @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    /* main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    /* aside {
      order: 2;
    } */
    /* Change the header background */
    /* header {
      background:
    } */
    /* Change the navbar and footer background */
    /* nav,
    footer {
      background-color: #bb8588;
    } */