* {
  padding: 0;
  background-color: var(--gin);
  }

:root {
  --outerspace: #33393f;
  --bright-turqouise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

.about-container {

}

.work-container {

}



header {
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    line-height: 10px;
    font-weight: bold;
}

footer {

}


img {
    border-radius: 25px;
    box-shadow: 20 20 20 gray;
    margin-left: 25px;
    rotate:
}



#navbar {
  /* border: 10px solid var(--gin); */
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  list-style: none;
}

/* @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    /* main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    /* aside {
      order: 2;
    } */
    /* Change the header background */
    /* header {
      background:
    } */
    /* Change the navbar and footer background */
    /* nav,
    footer {
      background-color: #bb8588;
    } */